/*COMPONENTS*/

/*
Global
 */
.x-scroll {
    overflow-x: auto;
}

/*
Container - This component contains all other view
components. It's main job is to determine the
width that the view takes.
*/
.container {
    margin-right: auto;
    margin-left: auto;
}

.container:after, .container:before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*
Panel - This component is a nice enclosure for a group of
components.
*/
.panel {
    border: 1px solid #24292e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px
}

.panel-body:after, .panel-body:before {
    content: " ";
    display: table
}

.panel-body:after {
    clear: both
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid #24292e;
    color: white;
    background-color: #24292e;
}

/*
Table - All table styles are here.
 */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;;
}

td a{
    text-decoration: none;
    text-align: right;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}